<ion-list lines="none" class="status-list">
  <ion-item>
    <ion-chip item-content>
      <ion-avatar>
        <img src="assets/icon/accu-batteries-energy.svg">
      </ion-avatar>
      <ion-label>{{battery}}</ion-label>
    </ion-chip>
  </ion-item>
  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="assets/icon/energy-hot-sun.svg">
      </ion-avatar>
      <ion-label>{{energy}}</ion-label>
    </ion-chip>
  </ion-item>
  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="assets/icon/access-time.svg">
      </ion-avatar>
      <ion-label>{{timeLeft}}</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>

<ion-grid fixed>
  <ion-row *ngFor="let inventoryRow of inventory.getInventoryItems(4)">
    <ion-col *ngFor="let inventoryBlock of inventoryRow">
      <div class="inventoryCell">
        <ion-thumbnail *ngIf="inventoryBlock != null">
          <ion-img [src]="inventoryBlock?.$imageSource"></ion-img>
        </ion-thumbnail>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
