<div [class.tile]="!tile?.noSize" [attr.aria-label]="tile?.name" [attr.title]="showTileTitle ? tile?.name : null"
[style.backgroundColor]="tile?.$backgroundColor">
  <ion-thumbnail *ngIf="useIonThumbnail;else simpleImage">
    <ion-img *ngIf="tile && tile?.$imageSource" [src]="tile?.$imageSource" [alt]="tile?.name"></ion-img>
  </ion-thumbnail>
</div>

<ng-template #simpleImage>
  <ion-img *ngIf="tile && tile?.$imageSource" [src]="tile?.$imageSource" [alt]="tile?.name"></ion-img>
</ng-template>
