@import "../../../project-css-variables.scss";

:host {
  min-width: 80% !important;
}

ion-content {
  --padding-top: 60px;
  --overflow: hidden;
}

ion-grid {
  width: max-content;
}

#levelGrid {
  position: absolute;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

ion-thumbnail {
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8);
}

ion-col {
  padding: 0;
  margin: 0;
  flex: 0;
  position: relative;
}

.tileStack {
  width: $tileSize;
  height: $tileSize;
  min-height: $tileSize;
  min-width: $tileSize;
}

/* stack tiles on z axis on top of each other */
.zTile {
  position: absolute;
}
