<ion-content id="overflowLevelGrid" class="levelGrid ion-justify-content-center ion-align-items-center" main>
  <ion-grid [style.top.px]="gridTopOffset" [style.left.px]="gridLeftOffset" id="levelGrid">
    <ion-row *ngFor="let row of levelGrid">
      <ion-col class="tileStack" *ngFor="let column of row">
        <app-level-tile class="zTile" *ngFor="let tile of column" [tile]="tile" (click)="tileClicked(tile)"></app-level-tile>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
