<ion-header>
  <ion-toolbar>
    <ion-title>Multiplayer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>
      <ion-button [attr.color]="room.playersInRoom >= 2 ? 'danger' : 'tertiary'"
        [class.selected]='room.id === currentRoom' (click)='joinRoom(room.id)' *ngFor='let room of rooms'>
        {{ room.id }} ( {{ room.playersInRoom }} / {{ clientConfig.maxPlayers }})
      </ion-button>
    </p>

    <p>
      <ion-button color="secondary" (click)='newRoom()'>New Room</ion-button>
      <ion-button color="secondary" (click)='cancel()'>Cancel</ion-button>
    </p>
  </ion-item>
</ion-content>
