<ion-header>
  <ion-toolbar>
    <ion-title>
      Clippys Challenge Leveleditor
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-split-pane when="xs">
  <app-level-grid (tileClick)="tileClicked($event)"></app-level-grid>

  <app-sidebar>
    <app-items-sidebar (itemSelect)="itemClicked($event)"></app-items-sidebar>
    <ion-button (click)="itemClicked(null)">
      unselect any item
    </ion-button>
    <ion-item>
      <ion-label>
        move player
      </ion-label>
      <ion-toggle [(ngModel)]="playerCanMove"></ion-toggle>
    </ion-item>
    <ion-list>
      <ion-label>
        tile options of {{clickedTile?.name}}
      </ion-label>
      <ion-item *ngFor="let setting of settings">
        <ion-label>{{setting.varname}}</ion-label>
        <ion-input *ngIf="setting.type === 'string'" type="text" [(ngModel)]="clickedTile[setting.varname]">
        </ion-input>
        <ion-input *ngIf="setting.type === 'color'" type="text" pattern="#[0-9A-F]{6}" [(ngModel)]="clickedTile[setting.varname]">
        </ion-input>
        <ion-toggle *ngIf="setting.type === 'boolean'" [(ngModel)]="clickedTile[setting.varname]"></ion-toggle>
        <ion-input *ngIf="setting.type === 'number'  || setting.type == 'object'" type="number"
          [(ngModel)]="clickedTile[setting.varname]">
        </ion-input>
        <ion-input *ngIf="setting.type === 'undefined' || setting.type === 'null'" readonly [(ngModel)]="clickedTile[setting.varname]"></ion-input>
      </ion-item>
      <ion-item *ngIf="!this.selectedItem && isTeleporter(this.clickedTile)">
        <ion-button (click)="selectOtherTeleporterClick()">
          select linked teleporter
        </ion-button>
      </ion-item>
      <ion-item *ngIf="this.teleporterConnectedMessage">
        <ion-label>
          teleporter successfully linked
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button [routerLink]="['/home']">go to Game</ion-button>
  </app-sidebar>
</ion-split-pane>
