<ion-header>
  <ion-toolbar>
    <ion-title>
      Clippys Challenge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <ion-button [routerLink]="['/home']">
      Singleplayer
    </ion-button>
    <ion-button (click)="multiplayerClicked()">
      Multiplayer
    </ion-button>
    <ion-button [routerLink]="['/editor']">
      Leveleditor
    </ion-button>
  </ion-buttons>
</ion-content>
