<ion-list lines="none" class="status-list">
  <ion-header>
    <ion-label>
      Chips Challenge 1 items
    </ion-label>
  </ion-header>

  <ion-item *ngFor="let item of chipsChallenge1Items" (click)="itemClicked(item)">
    <ion-chip>
      <ion-img [src]="item?.$imageSource"> </ion-img>
      <ion-label>{{item.name}}</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>
<ion-fab-button (click)="optionsClicked()">
  <ion-icon name="add"></ion-icon>
</ion-fab-button>
