<ion-header>
  <ion-toolbar>
    <ion-title>
      Clippys Challenge
    </ion-title>
    <ion-label class="status" slot="end">
      <span *ngIf="isMultiplayer">
        <span>C2S:
          <span>{{ latency }}</span>ms
        </span>&#183;
        <span>E2E:
          <span>{{ e2eLatency }}</span>ms
        </span>&#183;
        <span>r:
          <span>{{ room }}</span>
        </span>
      </span>
      <span *ngIf="!isMultiplayer">
        <span>r:
          <span>singleplayer</span>
        </span>
      </span>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-split-pane when="xs">
  <app-level-grid></app-level-grid>

  <app-sidebar>
    <app-level-status-sidebar (levelTimeout)="levelTimedOut()"></app-level-status-sidebar>
  </app-sidebar>
</ion-split-pane>
